@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import "custom-utilities";

.cs-full-width {
    @apply justify-center items-center flex py-10;
}

.bg-overlay-black-light {
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}

.tm-headbar-top {
    background-size: cover;
    background-color: #37466c;
    background: linear-gradient(#132431,#2c4f73)!important;
    background-blend-mode: soft-light;
    background-position: center center;
}

.heading-line > span {
    position: relative;
}
.heading-line > ::before {
    right: 100%;
    margin-right: .6em;
}
.heading-line>::after, .heading-line>::before {
    content: "";
    position: absolute;
    top: calc(50% - (1px / 2));
    width: 100px;
    border-bottom: 1px solid #dee6ed;
}

.uk-card {
    @apply relative transition-easy rounded-sm;
}
.jumbo {
    @apply text-4xl my-10 text-shadow-light;
}
.card-metatext {
    @apply text-md uppercase mb-4;
}
.card-title {
    @apply text-3xl font-hairline;
}
.card-description {
    @apply mt-4 mb-8 font-light leading-normal;
}
.button {
    @apply py-2 px-4 rounded-full;
}
.button-primary {
    @apply bg-blue text-white;
}
.button-primary:hover {
    @apply bg-blue-dark
}
@screen lg {
    .jumbo {
        @apply text-6xl;
    }
}
